<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.program.senior.coursesystem.dao.CourseMapper">
    <select id="courseCanChoose" resultType="com.program.senior.coursesystem.entity.CourseBean">
        select * from course where year = #{year} and term = #{term} and id not in (select id from student where number = #{number})
    </select>

    <select id="courseChosen" resultType="com.program.senior.coursesystem.entity.CourseBean">
        select * from course where year = #{year} and term = #{term} and id in (select id from student where number = #{number})
    </select>

    <select id="getCourseById" resultType="com.program.senior.coursesystem.entity.CourseBean">
        select * from course where id = #{id}
    </select>

    <insert id="addNewCourse">
        insert into course(courseName, property, credit, classroom, teacher, year, term, week, time, content) values
        (#{courseName}, #{property}, #{credit}, #{classroom}, #{name}, #{year}, #{term}, #{week}, #{time}, #{content})
    </insert>

    <select id="getCourseId" resultType="java.lang.Integer">
        select id from course where courseName = #{courseName} and property = #{property} and credit = #{credit} and
        classroom = #{classroom} and teacher = #{name} and year = #{year} and term = #{term} and week = #{week} and
        time = #{time} and content = #{content}
    </select>

    <select id="getCourseCanExamine" resultType="com.program.senior.coursesystem.entity.CourseBean">
        select * from course where id in (select id from teacher where courseState = '审核中')
    </select>

    <select id="getScoreCanExamine" resultType="com.program.senior.coursesystem.entity.CourseBean">
        select * from course where id in (select id from teacher where scoreState = '审核中')
    </select>
</mapper>