<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>增加课程</title>
        <link rel="stylesheet"  type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
        <script>
            function tz(){
                window.location.href='manageCourse.html';
            }
        </script>
    </head>
    <body>
        <h3 class="text-center">添加新课程</h3><br>
        <div class="container">

            <div class="row">

                <div class="col-md-1">
                    <label class="text">课程名称：</label>
                </div >
                <div class="col-md-2">
                    <input type="text" class="form-control"><br>
                </div>

                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-1">
                    <label class="text">课程名称：</label>
                </div >

                <div class="col-md-4">
                    <!--这里select中加multiple可以实现多选-->
                    <select class="form-control">
                        <option>专业必修</option>
                        <option>专业选修</option>
                        <option>通识课程</option>
                    </select><br>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-1">
                    <label class="text">学分：</label>
                </div >
                <div class="col-md-2">
                    <input type="text" class="form-control"><br>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-1">
                    <label class="text">上课教室：</label>
                </div >
                <div class="col-md-2">
                    <input type="text" class="form-control"><br>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-md-1">
                    <label class="text">上课周次：</label>
                </div >

                <div class="col-md-4">
                    <!--这里select中加multiple可以实现多选-->
                    <select class="form-control">
                        <option>周一</option>
                        <option>周二</option>
                        <option>周三</option>
                        <option>周四</option>
                        <option>周五</option>
                        <option>周六</option>
                        <option>周日</option>
                    </select><br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-1">
                    <label class="text">时间：</label>
                </div >
                <div class="col-md-2">
                    <input type="text" class="form-control"><br>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-1">
                    <label class="text">开课学年：</label>
                </div >
                <div class="col-md-2">
                    <input type="text" class="form-control"><br>
                </div>
            </div>
        </div>
        <div class="container">

            <div class="row">

                <div class="col-md-1">
                    <label class="text">开课学期：</label>
                </div >

                <div class="col-md-4">
                    <select class="form-control">
                        <option>第一学期</option>
                        <option>第二学期</option>
                    </select><br>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="row">

                <div class="col-md-1">
                    <label class="text">课程内容：</label>
                </div >
                <div class="col-md-6">
                    <textarea class="form-control"></textarea><br>
                </div>

            </div>
        </div>

        <div class="text-center">
            <button type="button" class="btn btn-success" onclick="tz()">提交审核</button>
            <button type="button" class="btn btn-warning">取消</button>
        </div>


    </body>
</html>