<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>教务</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row" style="text-align: end">
    <p th:inline="text">您好,[[${name}]]!  <a href="#" onclick="logout()">退出登录</a></p>
</div>
<div class="row">
    <div class="col" style="text-align: center; width: 500px;">
        <form action="/courseExamine" method="post" id="examine1" target="_blank">
            <img src="../picture/examine.png" height="300" width="300" onclick="submit1()"/>
            <br>
            <input type="submit" value="审核课程">
        </form>
    </div>
    <div class="col" style="text-align: center; width: 500px;">
        <form action="/scoreExamine" method="post" id="examine2" target="_blank">
            <img src="../picture/examine.png" height="300" width="300" onclick="submit2()"/>
            <br>
            <input type="submit" value="审核成绩">
        </form>
    </div>
</div>
</body>
<script th:inline="javascript">
    var name = [[${name}]];
    var number = [[${number}]];
    sessionStorage.setItem("name", name);
    sessionStorage.setItem("number", number);
    function logout() {
        sessionStorage.clear();
        window.location.href = "/login";
    }
    function submit1() {
        document.getElementById("examine1").submit();
    }
    function submit2() {
        document.getElementById("examine2").submit();
    }
</script>
</html>