<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>学生选课</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" style="text-align: end">
            <p id="hello"></p>  <a href="#" onclick="logout()">退出登录</a>
        </div>
        <h3>可选课程</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>学年</th>
                <th>学期</th>
                <th>教室</th>
                <th>授课老师</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <form action="/choose" method="post">
                <input type="hidden" name="name" id="name">
                <input type="hidden" name="number" id="number">
            <tr th:each="courses : ${courseCanChoose}">

                <td th:each="course : ${courses}" th:text="${course}"></td>
                    <input type="hidden" name="id" th:value="${courses[0]}">
                    <input type="hidden" name="year" value="2022">
                    <input type="hidden" name="term" value="1">
                    <td><input type="submit" value="选课"></td>

            </tr>
            </form>
            </tbody>
        </table>

        <h3>已选课程</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>学年</th>
                <th>学期</th>
                <th>教室</th>
                <th>授课老师</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <form action="/dropCourse" method="post">
                <input type="hidden" name="number" id="delnum">
            <tr th:each="chosen : ${courseChosen}">
                <td th:each="item : ${chosen}" th:text="${item}"></td>
                    <input type="hidden" name="id" th:value="${chosen[0]}">
                    <input type="hidden" name="year" value="2022">
                    <input type="hidden" name="term" value="1">
                    <td><input type="submit" value="退课"></td>
            </tr>
            </form>
            </tbody>
        </table>
    </body>
    <script>
        function logout() {
            sessionStorage.clear();
            window.location.href = "/login";
        }
        document.getElementById("hello").innerText = "您好,"+sessionStorage.getItem("name")+"!";
        document.getElementById("name").value = sessionStorage.getItem("name");
        document.getElementById("number").value = sessionStorage.getItem("number");
        document.getElementById("delnum").value = sessionStorage.getItem("number");
    </script>
</html>