<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <title>学生选课</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" style="text-align: end">
            <p>您好， 学生</p><!--这里要读取数据库--><a href="index.html">退出登录</a>
        </div>
        <h3>可选课程</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>学年</th>
                <th>学期</th>
                <th>教室</th>
                <th>授课老师</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button>选课</button></td>
            </tr>

            </tbody>
        </table>

        <h3>已选课程</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>学年</th>
                <th>学期</th>
                <th>教室</th>
                <th>授课老师</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><button>退课</button></td>
            </tr>

            </tbody>
        </table>
    </body>