<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>审核</title>
    <link rel="stylesheet"  type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <script>
        function tz(){
            window.location.href='examineCourse.html';
        }
    </script>
</head>
<body>
<h1 style="text-align: center">课程详细信息</h1>
    <table class="table table-bordered" style="text-align: center">
        <tr>
            <th>课程名称</th>
            <th></th>
            <th>课程性质</th>
            <th></th>
        </tr>
        <tr>
            <th>开课学年</th>
            <th></th>
            <th>开课学期</th>
            <th></th>
        </tr>
        <tr>
            <th>上课时间</th>
            <th></th>
            <th>上课教室</th>
            <th></th>
        </tr>
        <tr>
            <th>任课老师</th>
            <th></th>
            <th>学分</th>
            <th></th>
        </tr>
    </table>
<div class="container">

    <div class="row">

        <div class="col-md-3" style="text-align: end">
            <label class="text">课程内容：</label>
        </div >
        <div class="col-md-6">
            <textarea class="form-control"></textarea><br>
        </div>

    </div>
<div style="text-align: center">
    <button onclick="tz()">审核通过</button>
    <button onclick="tz()">审核不通过</button>
</div>
</body>
</html>