<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审核成绩</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row" style="text-align: end">
    <p id="hello"></p>  <a href="#" onclick="logout()">退出登录</a>
</div>
<h2>成绩待审的课程</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>课程id</th>
        <th>课程名称</th>
        <th>课程性质</th>
        <th>学年</th>
        <th>学期</th>
        <th>时间</th>
        <th>学分</th>
        <th>授课老师</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="scores:${scoreCanExamine}">
        <td th:each="score:${scores}" th:text="${score}"></td>
        <form action="/allStudentScore" method="post">
            <input type="hidden" name="id" th:value="${scores[0]}">
            <td><input type="submit" value="审核"></td>
        </form>
    </tr>
    </tbody>
</table>
</body>
<script>
    function logout() {
        sessionStorage.clear();
        window.location.href = "/login";
    }
    document.getElementById("hello").innerText = "您好,"+sessionStorage.getItem("name")+"!";
</script>
</html>