<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>管理课程</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" style="text-align: end">
            <p id="hello"></p>  <a href="#" onclick="logout()">退出登录</a>
        </div>
        <h3>我教的课程</h3><br>
        <form action="/courseTeaching" method="post">
            <p>选择学年 <select name="year">
                <option value ="2022">2022</option>
                <option value ="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
            </select>
                选择学期 <select name="term">
                    <option value ="1">1</option>
                    <option value ="2">2</option>
                    <input type="hidden" name="number" id="number">
                    <input type="submit" value="搜索">
                </select> </p>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>教室</th>
                <th>学生数量</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <form action="/deleteCourse" method="post">
                <input type="hidden" name="number" id="num">
                <input type="hidden" name="year" th:value="${year}">
                <input type="hidden" name="term" th:value="${term}">
            <tr th:each="courses:${courseHasOpened}">
                <td th:each="course:${courses}" th:text="${course}"></td>
                <input type="hidden" name="id" th:value="${courses[0]}">
                <td><input type="submit" value="取消开课"></td>
            </tr>
            </form>
            </tbody>
        </table>


        <div class="text-center">
            <button><a href="/addCourse">添加新课程</a> </button>
        </div>


        <h3>审核中的课程</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>教室</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="examine:${courseInExamine}">
                <td th:each="item:${examine}" th:text="${item}"></td>
            </tr>
            </tbody>
        </table>
    </body>
    <script>
        function logout() {
            sessionStorage.clear();
            window.location.href = "/login";
        }
        document.getElementById("hello").innerText = "您好,"+sessionStorage.getItem("name")+"!";
        document.getElementById("number").value = sessionStorage.getItem("number");
        document.getElementById("num").value = sessionStorage.getItem("number");
    </script>
</html>