<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>发布成绩</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
        <script>
            function tz(){
                window.location.href='release.html';
            }
        </script>
    </head>
    <body>
        <div class="row" style="text-align: end">
            <p>您好， 老师</p><!--这里要读取数据库--><a href="index.html">退出登录</a>
        </div>
        <h3>所有课程</h3><br>



        <label class="text">所选学年：</label>

        <select class="form-control">
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
        </select><br>

        <label class="text">所选学期：</label>

        <select class="form-control">
            <option>1</option>
            <option>2</option>
        </select><br>



        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程ID</th>
                <th>课程名称</th>
                <th>课程性质</th>
                <th>学分</th>
                <th>时间</th>
                <th>成绩状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>007</td>
                <td>spy</td>
                <td>专业必修</td>
                <td>2</td>
                <td>？</td>
                <td>未发布</td>
                <td><button onclick="tz()">发布成绩</button></td>
            </tr>

            </tbody>
        </table>
    </body>
</html>