<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>发布</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="css/bootstrap.css">
    </head>
    <body>
        <h3 class="text-center">成绩发布</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>

                <th>课程名称</th>
                <th>学生姓名</th>
                <th>成绩</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>


        <div class="text-center">
            <button>确认</button>
            <button>取消</button>
        </div>



    </body>