<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>发布</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
        <link rel="stylesheet"  type="text/css" href="css/bootstrap.css">
        <script>
            function tz(){
                window.location.href='releaseScore.html';
            }
        </script>
    </head>
    <body>
        <h3 class="text-center">成绩发布</h3><br>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>课程名称</th>
                <th>学生姓名</th>
                <th>成绩</th>
                <th>等第</th>
                <th>绩点</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
                <td contenteditable="true"></td>
            </tr>
            </tbody>
        </table>


        <div class="text-center">
            <button onclick="tz()">确认</button>
            <button>保存</button>
            <button onclick="tz()">取消</button>
        </div>



    </body>