<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>student</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row" style="text-align: end">
    <p>您好， 学生</p><!--这里要读取数据库--><a href="index.html">退出登录</a>
</div>
<div class="row">
    <div class="col" style="text-align: center; width: 500px;">
        <a href="chooseCourse.html">
        <img src="../static/picture/chooseCourse.png" height="300" width="300"/>
        <br>选课</a>
    </div>
    <div class="col" style="text-align: center; width: 500px;">
        <a href="viewScore.html">
        <img src="../static/picture/viewScore.png" height="300" width="300"/>
        <br>查看成绩</a>
    </div>
    <div class="col" style="text-align: center; width: 500px;">
        <a href="timetable.html">
        <img src="../static/picture/timetable.png" height="300" width="300"/>
        <br></br>课程表</a>
    </div>
</div>
</body>
</html>