<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>课程表</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="row" style="text-align: end">
            <p id="hello"></p>  <a href="#" onclick="logout()">退出登录</a>
        </div>
        <h3>我的课程表</h3><br>
        <form action="/getTimetable" method="post">
        <p>选择学年 <select name="year">
            <option value ="2022">2022</option>
            <option value ="2021">2021</option>
            <option value="2020">2020</option>
            <option value="2019">2019</option>
        </select>
        选择学期 <select name="term">
            <option value ="1">1</option>
            <option value ="2">2</option>
                <input type="hidden" name="number" id="number">
                <input type="submit" value="搜索">
        </select> </p>
        </form>
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="16%">时间\周次</th>
                <th width="12%">周一</th>
                <th width="12%">周二</th>
                <th width="12%">周三</th>
                <th width="12%">周四</th>
                <th width="12%">周五</th>
                <th width="12%">周六</th>
                <th width="12%">周日</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>08:00-08:45</td>
                <td th:each="course:${timetable[0]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>08:50-09:35</td>
                <td th:each="course:${timetable[1]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>09:50-10:35</td>
                <td th:each="course:${timetable[2]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>10:40-11:25</td>
                <td th:each="course:${timetable[3]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>13:00-13:45</td>
                <td th:each="course:${timetable[4]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>13:50-14:35</td>
                <td th:each="course:${timetable[5]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>14:50-15:35</td>
                <td th:each="course:${timetable[6]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>15:40-16:25</td>
                <td th:each="course:${timetable[7]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>18:00-18:45</td>
                <td th:each="course:${timetable[8]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>18:50-19:35</td>
                <td th:each="course:${timetable[9]}" th:text="${course}"></td>
            </tr>
            <tr>
                <td>19:50-20:35</td>
                <td th:each="course:${timetable[10]}" th:text="${course}"></td>
            </tr>
            </tbody>
        </table>
    </body>
    <script>
        function logout() {
            sessionStorage.clear();
            window.location.href = "/login";
        }
        document.getElementById("hello").innerText = "您好,"+sessionStorage.getItem("name")+"!";
        document.getElementById("number").value = sessionStorage.getItem("number");
    </script>
</html>