<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看成绩</title>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>
    <!-- 新 Bootstrap5 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="row" style="text-align: end">
    <p id="hello"></p>  <a href="#" onclick="logout()">退出登录</a>
</div>
<div class="container">
    <h2>已修课程</h2>
    <form action="/getCourseScore" method="post">
    <p>选择学年 <select name="year">
        <option value ="2022">2022</option>
        <option value ="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
    </select> </p>
    <p>选择学期 <select name="term">
        <option value ="1">1</option>
        <option value ="2">2</option>
    </select> </p>
        <br>
        <input type="hidden" name="number" id="number">
        <input type="submit" value="搜索">
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>课程id</th>
            <th>课程名称</th>
            <th>课程性质</th>
            <th>学分</th>
            <th>授课老师</th>
            <th>成绩</th>
            <th>等第</th>
            <th>绩点</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="courses:${courseLearned}">
            <td th:each="course:${courses}" th:text="${course}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script>
    function logout() {
        sessionStorage.clear();
        window.location.href = "/login";
    }
    document.getElementById("hello").innerText = "您好,"+sessionStorage.getItem("name")+"!";
    document.getElementById("number").value = sessionStorage.getItem("number");
</script>
</html>